[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "themes/pelican-clean"]
	path = themes/pelican-clean
	url = git@github.com:9gix/pelican-clean.git
